* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #0f7202b4;
}
article p { 

    color: darkviolet;
}
/* GROUPING SELECTOR */
.info-section h2,
.info-section p,
.info-section li {
    margin: 15px;
    padding: 10px;
    color: #000000;
}

